	#welcomeWrapper /* Element which contains a welcome page,
					where the user can choose their name
					and other start states can be set*/
	{
		background-color:#3432a8;
		padding:0.5vmin;
		font-size:5vmin;
		margin: 0;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:3vmin;
	}
	
	#usernameInput
	{
		position:relative;
		width:25vmin;
		margin: 0;
		left: 50%;
		transform: translateX(-50%);
		text-align:center;
		font-size:5vmin;
	}
	#usernameInputLabel
	{
		position:relative;
		width:15vmin;
		margin: 0;
		text-align:center;
		font-size:5vmin;
	}
	
	#log_button
	{
		position: relative; 
		left: 50%;
		transform: translateX(-50%);
		font-size:3vmin;
	}
	#static_Series
	{
		
		width:5vmin;
	}
	#dynamic_Series
	{
		
		width:5vmin;
	}
	